.txt-oficial{
    color:#2b3392 !important;
}
.bg-oficial{
    background-color: #2b3392;
    /* color: white !important;
    color: white;
    text-decoration: none; */
}
a:hover{
    color: white;
    text-decoration: none;
}